
<html>

    <head>
        <script>document.write('<base href="' + document.location + '" />');</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>CosmicBills - Signup</title>

    
    </head>

    <body class="login-body">

            <ngx-spinner bdColor="rgba(87, 109, 142, 0.33)"
            size="medium"
            color="#0081c2"
            type="ball-elastic-dots"><p style="text-align: center; background-color:#0081c2; font-size: 20px; color: white; height: 30px; width:200px;  "> {{loadingMessage}} </p> </ngx-spinner>
            

        <form [formGroup]="setpasswordform" (ngSubmit)="onSubmit(setpasswordform.value)">
        <div id="login-wrapper">

            <img src="../../assets/images/cosmic bills_logo_white_smaller.gif">
            <p-messages [(value)]="msgs"></p-messages>
            <div id="login-container">
             
                <h4 style="color:#0081c2;">Thanks for registering in CosmicBills.<br>Please set your password.</h4>
               
                <div class="ui-g ui-fluid">
                  
                     <div class="ui-g-12">
                         <input type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Password" formControlName="Password" pPassword />
                     </div>
                     <p class="bg-danger" *ngIf="setpasswordform.controls.Password.errors?.required && setpasswordform.controls.Password.touched">pwd length should be between 6 to 12 charcater</p>
                     <div class="ui-g-12">
                        <input type="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget" placeholder="Confirm Password" formControlName="NewPassword" pPassword />
                    </div>
                    <p class="bg-danger" *ngIf="setpasswordform.controls.NewPassword.errors?.required && setpasswordform.controls.NewPassword.touched">pwd length should be between 6 to 12 charcater</p>
                    <p class="bg-danger" *ngIf="setpasswordform.errors?.doesMatchPassword">Password does not match</p>

                    <div class="ui-g-12">
                        <button type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"  [disabled]="!setpasswordform.valid" >
                            <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                            <span class="ui-button-text ui-c">Submit </span>
                        </button>
                    </div>
                </div>
            </div>
       <div class="login-footer">© 2018 - CosmicBills</div>
        </div>
      </form>
    </body>

    </html>
