<ngx-spinner bdColor="rgba(87, 109, 142, 0.10)" size="medium" color="#0081c2" type="ball-elastic-dots">
  <p style="text-align: center; background-color:#0081c2; font-size: 20px; color: white; height: 30px; width:200px;  ">
    {{loadingMessage}} </p>
</ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>

    <div class="row">
      <div class="column" style="margin-bottom: 10px;">

        <!-- <div class="form-group" style="margin-top: 10px;" >


          <label style="display: inline-block;width: 200px;"><b>Bill Number </b><span class="required-field"></span></label>
          <input id="input" type="text" size="20" style="width:200px"  pInputText [(ngModel)]="billNumber" (input)=onChangeBillNumber()>
        </div> -->


        <div class="form-group" style="margin-top: 10px;">


          <label style="display: inline-block;width: 180px;"><b>Invoice Number </b><span class="required-field"></span></label>
          <input id="input" type="text" size="20" style="width:200px"  pInputText [(ngModel)]="invoiceNumber" (input)=onChangeInvoiceNumber()>
        </div>

        <div class="form-group" style="margin-top: 5px;">
          <label style="display: inline-block;width: 180px;"><b>Supplier </b><span class="required-field"></span></label>
       
        <p-dropdown [filter]="true" [options]="xeroVendors" [(ngModel)]="documentVendor"
          [style]="{'width':'200px', 'max-width':'19em','margin-top':'10px','margin-bottom':'10px'}"  (onChange)="onChangeVendor($event)">
          <ng-template let-act pTemplate="item">
            <div class="ui-helper-clearfix">
              <div>{{act.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
        <div class="form-group" style="margin-top: 5px;">
          <label style="display: inline-block;width: 200px;"><b>Billing Address</b></label><span></span>
          <div  [style]="{'width':'200px','margin-top':'10px'}">{{billingAddress}}</div>
        </div>

       
      </div>
      <div class="column" style="text-align: right;">
        
        <div class="form-group">
          <div class="form-group" style="margin-top: 10px;">


            <label style="display: inline-block;width: 220px;margin-right: 10px;"><b>Issue Date </b><span class="required-field"></span></label>
            <input id="invoiceDate" type="date" size="20" style="width:195px" [ngModel]="invoiceDate | date:'yyyy-MM-dd'"
              [value]="invoiceDate | date:'yyyy-MM-dd'" (ngModelChange)=onChangeInvoiceDate($event)>
          </div>
  
         
        </div>

      </div>
    </div>
    <p-button icon="fa fa-trash" style="margin-bottom: 0.5em;" label="Delete Seletected"  (click)="deleteAllLineItem()">
    </p-button>
    <p-table #dt [value]="xeroDocumentLinesEdit" [scrollable]="true" >
      <!-- <ng-template pTemplate="colgroup">
    <colgroup>
        <col style="width:2em">
        <col style="width:6em">
        <col style="width:12em"> 
         <col>
        <col style="width:12em">
        <col style="width:8em">
        <col style="width:4em">
        <col style="width:5em">
        <col style="width:4em">
        <col style="width:6em">
        <col style="width:8em">
    </colgroup>
</ng-template> -->
      <ng-template pTemplate="header">
        <tr>
          <th colspan="3" style="width:6.1em">
            <div style="margin-bottom: 5px;">Delete all</div>
            <div style="clear: both;" >
              <input type="checkbox"  [ngModel]="deleteSelectedAllLine" (change)="onCheckBoxChangeDeleteAllLine($event)" style="text-align: center;margin-bottom: 5px;">
            </div>
          </th>
          <th style="width:12em">Description</th>
          <th style="width:8em" >Account</th>
          <th style="width:4em">Qty</th>
          <th style="width:5em">Price</th>
          <th style="width:4em">Tax(%)</th>
          <th style="width:4em">Tax</th>
          <th style="width:6em">Amount</th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">

        <tr>
        

          <td style="vertical-align: top;width: 2em;">
          <button pButton type="button" class="ui-button-rounded ui-button-secondary" icon="fa fa-file" title="View PDF"
            aria-hidden="true" style="width: 1.5em;" (click)="viewPdf(rowData)"></button>
           </td>
           <td style="vertical-align: top;width: 2em;"> 
            <input type="checkbox" [ngModel]="rowData.Deleted" (change)="onDeleteCheckBoxClick($event,rowData)">
        
          </td>
        <td style="vertical-align: top;width: 2em;">
          <button pButton type="button" style="width: 1.5em;" class="ui-button-rounded ui-button-secondary" icon="fa fa-trash" title="Delete"
            aria-hidden="true" (click)="deleteLineRecord(rowData)"></button>
        </td>

        <td style="vertical-align: top;width: 2em;" >
        
          <button pButton type="button" style="width: 1.5em;" *ngIf="rowData.DocumentLineID" class="ui-button-rounded ui-button-secondary" icon="fa fa-random" title="Delete"
            aria-hidden="true" (click)="splitDocumeneLine(rowData)"></button>
        </td>

          <td style="width: 12em;"><textarea pInputTextarea autoResize="autoResize"
              [(ngModel)]="rowData.ScanDescription" style="width: 100%; height: 100%;"></textarea></td>

          <td style="vertical-align: middle;width: 8em;">
            <p-dropdown [filter]="true" [options]="xeroAccounts" [(ngModel)]="rowData.XeroAccountID" appendTo="body" 
              (onChange)="onChangeAccount($event,rowData)" [style]="{'width':'100%', 'max-width':'19em','vertical-align':'center'}">
              <ng-template let-act pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;">
                  <div>{{act.label}}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </td>

        
          <td style="width: 4em; text-align: right"><input id="input" type="text" style="width: 100%;" pInputText
              [(ngModel)]="rowData.Scan_Quantity" (input)=onChangeQty(rowData)> </td>
          <td style="width: 5em; text-align: right"><input id="input" type="text" style="width: 100%;" pInputText
              [(ngModel)]="rowData.ScanUnit_Price" (input)=onChangePrice(rowData)  ></td>
          <td style="width: 4em; text-align: right">

            <input id="input" type="text" pInputText [(ngModel)]="rowData.ScanTax" style="width: 100%;"
              (input)=onChangeTax(rowData)>

          </td>
          <td style="width: 4em; text-align: right">{{rowData.ScanGST | currency}}</td>
          <td style="width: 6em; text-align: right">{{rowData.Scan_Total | currency}}</td>
        </tr>


      </ng-template>
      <!-- <ng-template pTemplate="footer">
    <tr>
      <td colspan="8"></td>
      <td style="width: 8em; text-align: right"><b>{{editTotal | currency}}</b></td>
    </tr>
   
    <tr>
      <td colspan="3">
        <p-button icon="pi pi-plus" style="margin-right: 10;" label="Add New Line" (click)="addNewLine(rowData)"></p-button>
      </td>
        <td colspan="6">
        <p-button icon="pi pi-check" label="Save Changes" (click)="saveEditChanges()"></p-button>
      </td>
    </tr>

  </ng-template> -->

    </p-table>


    <div class="row">
      <div class="column" style="margin-bottom: 10px;align-content: center;">

        <!-- <div class="form-group" style="margin-top: 10px;">
      <label><b>Notes</b></label><span></span>
      </div>

  
      <div class="form-group" style="margin-top: 10px;">
        <textarea [rows]="2" cols="40" pInputTextarea autoResize="autoResize"
          [(ngModel)]="scanBlobUrl"></textarea>
        
      </div> -->


      </div>
      <div class="column" style="text-align: right;">
        <div class="form-group" style="margin-top: 10px;">


          <label><b>Sub Total </b></label><span></span>
          <label style="display: inline-block;width: 70px;">{{editSubTotal | currency}}</label><span></span>

        </div>


        <div class="form-group" style="margin-top: 10px;">


          <label><b>Tax </b></label><span></span>
          <label style="display: inline-block;width: 70px;">{{editGstTotal | currency : 'USD' : 'symbol' : '2.0-2'}}</label><span></span>

        </div>

        <div class="form-group" style="margin-top: 10px;">


          <label><b> Total </b></label><span></span>
          <label style="display: inline-block;width: 70px;">{{editTotal | currency}}</label><span></span>

        </div>

      </div>
    </div>

    <div class="row">
      <div class="column" style="margin-top: 10px;align-content: center;">

        

        <p-button icon="pi pi-plus" style="margin-right: 10;" label="Add New Line"  (click)="addNewLine()">
        </p-button>


      </div>
      <div class="column" style="text-align: right;margin-top: 10px;">

        <p-button icon="pi pi-check" label="Save Changes" (click)="saveEditChanges()"></p-button>
        <p-button label="Exit" (click)="Cancel()" style="margin-left: 10px;"></p-button>

      </div>
    </div>
  