
<br/>
<p-growl [(value)]="msgs"></p-growl>
<ngx-spinner bdColor="rgba(87, 109, 142, 0.10)"
size="medium"
color="#0081c2"
type="ball-elastic-dots"><p style="text-align: center; background-color:#0081c2; font-size: 20px; color: white; height: 30px; width:200px;  "> Loading... </p> </ngx-spinner>

<div class="ui-g">


<div *ngIf="subscribedPlan"  class="ui-g-3">
  <p-card  title="Your Current Plan" subtitle="" [style]="{width: '375px'}" styleClass="ui-card-shadow">
    <p-header>
       
    </p-header>
    <div *ngIf="!subscribedPlan.IsPaidPlan"> <b> You are using trial plan!</b>
      </div>
      <div *ngIf="subscribedPlan.IsPaidPlan">
          <span style="color:green"><b> {{subscribedPlan.PlanName}}</b> </span>
          </div>
    <p-footer>
        <div *ngIf="!subscribedPlan.IsPaidPlan">
        <span style="color:red"> You have scanned {{totalTrialPdfUsed}} bills out of {{subscribedPlan.TrialPdf}} trials </span>
        </div>

        <div *ngIf="subscribedPlan.IsPaidPlan">
            <span style="color:blue"> You have scanned <b>{{totalPdfUsed}}</b> bills out of <b> {{subscribedPlan.TotalAllocatePDF}} </b> </span>
            </div>

      
    </p-footer>
  </p-card>
  <br>
  
  <p-card title="Purchase/Upgrade Plan" subtitle="" [style]="{width: '375px'}" styleClass="ui-card-shadow">
      <p-header>
      </p-header>
      <p-dropdown [filter]="true" [options]="plans" [(ngModel)]="planSelected" [style]="{'width':'100%', 'max-width':'40em'}">
       
          <ng-template let-pln pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
              <div>{{pln.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>
  
      <p-footer>
          <button pButton type="button" label="Pay with Card" icon="pi pi-check" style="margin-right: .25em" (click)="buyWithCard()"  ></button>
      </p-footer>
  </p-card>

  <br>
  <p-card title="Payment History" subtitle="" [style]="{width: '800px'}" styleClass="ui-card-shadow">
    <p-header>
    </p-header>
    
    <p-dataTable [value]="stripePayment" resizableColumns="true" [editable]="true">
        <p-column field="PlanName" header="Plan" [style]="{'width':'18%'}" [editable]="false"></p-column>
        <p-column field="Amount" header="Amount" [style]="{'width':'9%'}" [editable]="false"></p-column>
        <p-column field="StripeStatus" header="Status" [style]="{'width':'9%'}" [editable]="false"></p-column>
        <p-column field="StripeDateTime" header="Paid On" [style]="{'width':'12%'}" [editable]="false"></p-column>
      
    </p-dataTable>
    <p-footer>
      
    </p-footer>
</p-card>

 

</div>

