
<html>

    <head>
        <script>document.write('<base href="' + document.location + '" />');</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>CosmicBills Xero Integration - Welcome to CosmicBills</title>
    
    </head>
    <body class="login-body">
        
        <div id="login-wrapper">
            <img src="../../assets/images/cosmic bills_logo_white_smaller.gif">
            <div id="login-container">
                <div class="ui-g ui-fluid">

                        <h3 style="color:#0081c2">Thanks! for registering with CosmicBills. Please login to continue.</h3>
                        <h5 style="color:#0081c2">After a login you will be able to connect to your Xero and start scanning bills.</h5>
                        <br><br><br><br>
                        <div class="ui-g-12">
                                <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" [routerLink]="['/login']">
                                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                                    <span class="ui-button-text ui-c">Login</span>
                                </button>
                            </div>
                </div>
            </div>
       <div class="login-footer">© 2018 - CosmicBills</div>
        </div>
      
    </body>
    </html>