<!DOCTYPE html>
<html>

<head>
    <script>document.write('<base href="' + document.location + '" />');</script>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>CosmicBills - Login</title>

<!-- Layout CSS -->

</head>

<!-- 3. Display the application -->
<ngx-spinner bdColor="rgba(87, 109, 142, 0.10)"
size="medium"
color="#0081c2"
type="ball-elastic-dots">
<p style="text-align: center; background-color:#0081c2; font-size: 20px; color: white; height: 30px; width:300px;">{{loadingMessage}}</p> </ngx-spinner>



<body class="login-body"> 
       <div id="login-wrapper">
           <br><br><br><br><br><br><br><br><br><br>
        <img src="../../assets/images/cosmic bills_logo_white_smaller.gif">
        <br><br>
        <h1>Please wait while we get required data to proceed...</h1>
    </div>
  
</body>
</html>